<div class="table-responsive">
  <table class="table">
      <thead>
          <tr>
       <th>S/N</th>
       <th>Name</th>
       <th>Actions</th>
    </tr>
      </thead>
      <tbody>

         {{#each contacts}}
            <tr>
               <td>S/N</td>
               <td>Name</td>
               <td>Actions</td>
            </tr>
         {{/each}}
         
         
      </tbody>
      <tfoot>
          <tr>
            <td>S/N</td>
            <td>Name</td>
            <td>Actions</td>
         </tr>
      </tfoot>
   
  </table>
</div>