{{#extend 'stylesheets'}}

    <!-- Datatables -->
    {{!-- <link rel="stylesheet" href="/assets/vendor_components/bootstrap/dist/css/bootstrap.min.css"> --}}

    <style>
      #contactsContainer{
          padding: 5px;
          margin-top: 20px;
      }
      #contactsContainer li {
          background-color: transparent !important;
          color: white !important;
      }
      .search-box{
          background: transparent !important;
          color: white !important;
      }
      .search-box::placeholder {
        color: white !important;
        }
        .contact-item {
            background-color:red !important;
            padding: 5px 10px !important;
            cursor: default !important;
        }
    </style>

{{/extend}}
                
    <div id="main-wrapper">
   
            <div class="row"style="margin-left:0; margin-right:0;">
                {{!-- <div class="col-md-4">

                </div> --}}
                <div class="col-md-4 col-md-offset-4">
                    
                    <div class="input-group ">
                    <input type="text" id="search" class="form-control search-box" placeholder="Search for Friends" aria-describedby="basic-addon2">
                    <span onclick="fetchFriends($('#search').val())"  class="input-group-addon" id="basic-addon2">Search</span>
                    </div>
                </div>
            </div>

             <div class="row" style="margin-left:0; margin-right:0;">
               
                <div class="col-md-8 col-md-offset-2">
                    <ul id="contactsContainer" class="list-group">
                        {{!-- <li class="list-group-item d-flex justify-content-between align-items-center">
                            Cras justo odio
                            <span class="badge badge-primary badge-pill" style="background-color:#7F7FD5;">7</span>
                        </li> --}}
                       
                        
                    </ul>
                </div>
               
               
            </div>       
    </div><!-- Main Wrapper -->
{{#extend 'scripts'}}
            <script type="text/javascript" src="/javascripts/contacts.js"></script>

    <script>
        function fetchFriends(param){
            console.log(param,"In Fetch Friends")
            
            var url = 'http://localhost:3000/users/search';
            var data = {searchParam: param};

            fetch(url, {
            method: 'POST', // or 'PUT'
            body: JSON.stringify(data), // data can be `string` or {object}!
            headers:{
                'Content-Type': 'application/json'
            }
            }).then(res => res.json())
            .then(response => {
                if (response.error){
                    return alert("Error")
                }
                console.log(response, "Response")
                populateContactList(response)
            })
            .catch(error => console.error('Error:', error));
        }
        function populateContactList(contacts){
          
            contacts.forEach(function(contact){
                $('#contactsContainer').append(`<li class="list-group-item d-flex justify-content-between align-items-center">
                            ${contact.name}

                            <span id="${contact._id}" onclick="addFriend(this.id)" class="badge badge-primary badge-pill contact-item" >+</span>
                            
                           
                        </li>`)
            })
            
        }
    </script>
    <script>
        $(function(){
            $('#search').keydown(function(e){
                if(e.keyCode == 13){
                    fetchFriends($(this).val())
                }
            })
        })

        function addFriend(id){
             var url = 'http://localhost:3000/users/add';
            var data = {id: id};

            fetch(url, {
            method: 'POST', // or 'PUT'
            body: JSON.stringify(data), // data can be `string` or {object}!
            headers:{
                'Content-Type': 'application/json'
            }
            }).then(res => res.json())
            .then(response => {
                if (response.error){
                    return alert("Error")
                }
                console.log(response, "Response")
                
            })
            .catch(error => console.error('Error:', error));
        }
    </script>
{{/extend}}


